body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #004080;
    padding: 2rem;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

#main-photo {
    padding: 2rem;
    text-align: center;
}

#main-photo img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#explore {
    padding: 2rem;
    text-align: center;
}

#explore h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#explore ul {
    list-style-type: none;
    padding: 0;
}

#explore li {
    margin-bottom: 0.5rem;
}

#explore a {
    color: #004080;
    text-decoration: none;
    font-weight: 700;
}

#explore a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
